@use './_message-card.scss';
@use './_tax_table.scss';

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.skills-button {
  background-color: unset;
  border-radius: unset;
  box-shadow: none;
  width: 4rem;
  height: 4rem;
}
