.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;

  table tbody tr td {
    padding: 0;

    label {
      text-align: right;
      text-transform: uppercase;
      font-weight: bold;
    }

    h4.company-name {
      text-transform: uppercase;
      letter-spacing: normal;
      margin-right: 0;
    }
  }

  h5 {
    span.colon {
      padding: 0.25rem;
    }
  }
}
